<div class="so-back spu-borderTop-1 spu-borderColor-neutral7 spu-padTB-15">
  <div class="so-chunk">
    <div class="siteFooter">
      <div class="siteFooter__list">
        <a class="siteFooter__list__item" href="https://www.stellar.org/"><span class="graphic-backArrow-9"></span>&nbsp;&nbsp;Stellar.org</a>
        <span class="siteFooter__list__sep">|</span>
        <a class="siteFooter__list__item" href="https://www.stellar.org/bug-bounty-program/">Bug 悬赏</a>
        <a class="siteFooter__list__item" href="{{pathPrefix}}/stellar-core/software/admin.html">运行节点</a>
        <a class="siteFooter__list__item" href="{{pathPrefix}}/guides/things-to-build.html">构建应用</a>
        <a class="siteFooter__list__item" href="https://github.com/stellar/">GitHub</a>
        <a class="siteFooter__list__item" href="http://slack.stellar.org/">来社区畅谈</a>
      </div>
      <div class="siteFooter__list siteFooter__list--aux">
        <a class="siteFooter__list__item siteFooter__list__item--aux" href="https://www.stellar.org/terms-of-service/">服务条款</a>
        <a class="siteFooter__list__item siteFooter__list__item--aux" href="https://www.stellar.org/privacy-policy/">隐私政策</a>
      </div>
    </div>
  </div>
</div>
